body {
  margin: 0;
}

#content {
  overflow: hidden; /* clear the content/layouts */
}

.title-block {
  margin: 1em 0 0 1%;
  display: block;
}

.widgetElement {
  overflow: hidden;
  position: relative;
  float: left;
  border: 1px solid black;
  min-height: 16px;
  /* height: 36px; */
  /* margin: -- specify .full or .half */
  /* width: -- specify .full or .half */
}

.widgetElement.full {
  margin: 1em 1% 0 1%;
  width: 98%;
}

.widgetElement.half {
  margin: 1em 0 0 1%;
  width: 48.25%; /* can't use 48.5% due to widgetElement borders */
}

.widgetElement.half:last-child {
  margin-right: 1%;
}

.myTimeline {
  margin: 1em 0 0 1em;
}

#debugConsole {
  overflow: hidden;
  position: fixed;
  bottom: 12px;
  left: 0px;
  width: 98%;
  min-height: 1em;
  border: 1px solid silver;
  margin: 1%;
}

.test-selector-container {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  margin: .5em 0 0 1%;
}

.test-selector-container button,
.test-selector-container select
{
  height: 2em;
}

.test-selector-container input {
  height: 21px;
}
